@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #2b88f0;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100svh;
  overflow: hidden;
  margin: 0;
}
